<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logintest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginTest">
        <activity
            android:name=".ui.login.CreateUser"
            android:exported="true" />
        <activity
            android:name=".ui.login.Test5"
            android:exported="true" />
        <activity
            android:name=".ui.login.Test4"
            android:exported="true" />
        <activity
            android:name=".ui.login.Test3"
            android:exported="true" />
        <activity
            android:name=".ui.login.Test2"
            android:exported="true" />
        <activity
            android:name=".ui.login.Test1"
            android:exported="true" />
        <activity
            android:name=".ui.login.SettingsStyle"
            android:exported="true" />
        <activity
            android:name=".ui.login.SettingsAbout"
            android:exported="true" />
        <activity android:name=".ui.login.PatientData" />
        <activity android:name=".ui.login.PatientSurvey" />
        <activity android:name=".ui.login.PatientTest" />
        <activity android:name=".ui.login.PhysicalTest" />
        <activity android:name=".ui.login.Settings" />
        <activity android:name=".ui.login.Results" />
        <activity android:name=".ui.login.PatientInfo" />
        <activity android:name=".ui.login.Dashboard" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>